.Body {
    margin-top: var(--heightHeader);
    margin-left: 72px;
}

.Slider {
    position: relative;
    display: flex;
    align-items: center;
}

.Angle,
.Dots {
    position: absolute;
}

.Angle {
    --size: 50px;
    font-size: var(--size);
}

.Dots {
    font-size: 20px;
    color: #fff;
}

.Banners {
    display: flex;
    overflow: hidden;
}

.Banner {
    width: 100%;
}