.Body {
    margin-top: var(--heightHeader);
    margin-left: 72px;
}

.Slider {
    position: relative;
    display: flex;
    align-items: center;
}

.Angle,
.Dots {
    position: absolute;
}

.Angle {
    --size: 50px;
    font-size: var(--size);
    cursor: pointer;
    z-index: 3;
    color: #fff;
    opacity: 0.6;
}

.Dots {
    font-size: 20px;
    color: #fff;
}

.Dots i {
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
}

.Banners {
    display: flex;
    position: relative;
    transition: left 1s ease;
}

.BannersContainer {
    overflow: hidden;
}

.Banner {
    width: 100%;
}

@media (max-width:  576px) {
    .Body {
        margin-left: 0;
        margin-top: var(--heightHeader);
    }
}