.Body {
    margin-top: var(--heightHeader);
    margin-left: 72px;
}

.Slider {
    position: relative;
    display: flex;
    align-items: center;
}

.Angle,
.Dots {
    position: absolute;
}

.Angle {
    --size: 50px;
    font-size: var(--size);
    cursor: pointer;
    z-index: 3;
}

.Dots {
    font-size: 20px;
    color: #fff;
}

.Dots i {
    margin-right: 10px;
    color: #333;
    cursor: pointer;
}

.Banners {
    display: flex;
    position: relative;
    transition: left .2s;
}

.BannersContainer {
    overflow: hidden;
}

.Banner {
    width: 100%;
}