.CommentContent__InteractionButton {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border-radius: 100px;
    margin-right: 10px;
    transition: color .2s, background-color .1s;
}

.CommentInput {
    border-bottom: 1px solid;
    min-height: 28px;
    width: 70%;
    cursor: text;
    opacity: 0.6;
    position: relative;
}
