.CommentContent__InteractionButton {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border-radius: 100px;
    margin-right: 10px;
    transition: color .2s, background-color .1s;
}
