.Controller {
    position: fixed;
    bottom: 0;
    height: calc(100% - var(--heightHeader));
    border-right: 2px solid;
    z-index: 50;
    padding: 0 5px;
}

.ControllerItem {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    font-size: 28px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    line-height: var(--size);
    transition: background-color 0.2s linear;
    position: relative;
}

.ControllerItem__Badge {
    font-size: 12px;
    right: 4px;
    top: 4px;
}

.ControllerItem:first-child {
    margin-top: 10px;
}

.ControllerItem--Active,
.ControllerItem:hover {
    background-color: #eaeaea;
    color: #333;
    border-radius: 10px;
}

@media (max-width:  576px) {
    .Controller {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 68px;
        width: 100%;
        flex-direction: row;
        bottom: 0;
        top: unset;
        border-right: 0;
        border-top: 2px solid;
        justify-content: space-around;
        padding: 0 16px;
    }

    .ControllerItem {
        --size:  40px;
        font-size: 20px;
    }
}

@media (max-height: 434px) {
    .Controller {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}