.Header {
    height: 90px;
    background-color: #fff;
    box-shadow: 0 2px 2px #333;
    z-index: 99;
    position: fixed;
    width: 100%;
}

@media (max-width: 576px) {
    .Header {
        height: 64px;
    }
}